body{
    font-size: 12px;
}
/*苹果4之类的屏幕尺寸*/
@media screen and (max-height: 420px){
.select .time {
    margin-left: 12.5%;
}
}
/*420到500之类的屏幕尺寸*/
@media screen and (min-height: 421px) and (max-height:505px){
.select .time {
    margin-left: 12.5%;
}   
}