body{
    font-size: 12px;
}
/*苹果4之类的屏幕尺寸*/
@media screen and (max-height: 420px){
    .footer{
        padding-bottom: 0;
    }
    .cent_cent{
        padding-bottom: 0;
    }
    .erw{
        width: 33%;
    }
}
/*420到500之类的屏幕尺寸*/
@media screen and (min-height: 421px) and (max-height:500px){
    .erw{
        width: 36%;
    }
}